:root {
	/*  Signalisiere, dass die Seite helle und dunkle Darstellung unterstützt.
	https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#aa-handling-user-agent-styles */
	/* 	color-scheme: light dark; */

	/* Hier eigene Farben definieren oder Farben von OpenProps nehmen.
	https://open-props.style/#colors
	*/
	--red: var(--red-8);
	--green: var(--lime-10);
	--blue: var(--indigo-11);
	--pink: var(--pink-8);
	/* Fast schwarz oder weiß. Texte mit vollem Schwarz-Weiß-Kontrast
	sind schwerer zu lesen also welche mit leicht reduziertem Kontrast. */
	--off-white: var(--gray-1);
	--off-black: var(--gray-11);
	/*  Variablennamen zum Beschreiben der Funktion */
	--body-background: var(--stone-11);
	--content-background: var(--gray-10);
	--field-background: var(--gray-10);
	--highlight-background: var(--teal-5);
	--highlight-background-pressed: var(--teal-1);

	--text-color: var(--teal-1);
	--heading-color: var(--teal-5);
	--link-color: var(--pink);
	--link-color-active: var(--teal-5);
	/* --nav-link-color: var();
	--nav-active-link-color: var();*/
	--button-color: var(--off-white);
	--button-background-color: var(--teal-5);
	--button-background-pressed: var(--teal-11);
	--button-border-color: var(--teal-5);
	--border-color: var(--teal-5);
	--border-color-pressed: var(--teal-11);
	--header-footer-background-color: var(--teal-5);
	--header-footer-color: var(--teal-1);
	--theme-accent-color: var(--teal-1);
	--theme-text-color: var(--teal-11);
	--focus-ring-color: var(--teal-5);

	--ok-color: var(--green);
	--warn-color: var(--red);

	@media (prefers-color-scheme: dark) {
	}
}

* {
	transition: color, background-color, border-color 0.5s ease;
}
