.list--locations__radio-section {
	padding-block-end: 1em;
}

.list--locations__radio-group {
	padding-block-end: 1em;
}

.location-images {
	margin-block-end: 1em;
}

.location-images__wrapper {
	padding-block-end: 1em;
}

.filters--dimensions__radio-section,
.filters--types__radio-section {
	padding-inline-start: 0;
	padding-block-end: 1em;
}

.filters--dimensions__label,
.filters--types__label {
	font-weight: var(--font-weight-1);
}

.filters--dimensions__radio,
.filters--types__radio {
	font-weight: var(--font-weight-1);
}

.location-details__label,
.location-images__item {
	font-weight: var(--font-weight-1);
}

.location-details__value,
.location__name {
	font-weight: var(--font-weight-6);
}

.location-images__item {
	background-color: var(--blue-10);
	border-radius: var(--border-radius-l);
	overflow: clip;
}

.location-image__name {
	padding: 0.5em;
}
