.image-radio,
.text-radio,
.search-radio {
	border-radius: var(--border-radius-l);
	background-color: var(--card-background, var(--content-background));

	&[data-selected] {
		background-color: var(--card-background-highlight);
		font-weight: var(--font-weight-7);
	}
}

.search-radio {
	display: flex;
	align-items: center;
	gap: 0.571rem;
	font-size: 1.143rem;
	color: var(--text-color);
	forced-color-adjust: none;
	padding: 0.5em;
	background-color: var(--teal-12);
	color: var(--teal-9);
	&[data-selected] {
		background-color: var(--teal-9);
		color: var(--teal-1);
	}
}

.image-radio {
	padding: 0.5em;
}

.image-radio__image {
	width: 6em;
	aspect-ratio: 1 / 1;
}

.text-radio {
	padding: 0.5em;
}

.radio-group {
	display: grid;
	width: 100%;
}

.label-section {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.radio-section {
	display: flex;
	gap: 1rem;
	margin-block-start: 1rem;
	padding-inline-start: 10em;
	overflow-y: auto;
	scrollbar-gutter: stable;
	min-height: 4rem;
	width: 100%;
	position: relative;
}

.image-radio-section,
.text-radio-section {
	display: grid;
	grid-auto-flow: column;
	gap: 1em;
	overflow-y: auto;
	scrollbar-gutter: stable;
	width: 100%;
	position: relative;
	padding-inline-start: 0.5em;
	padding-block-start: 0.5em;
}

.image-radio-section {
	min-height: 14em;
	grid-auto-columns: 150px;
}

.text-radio-section {
	min-height: 7em;
}

.episode-images,
.location-images {
	overflow-y: auto;
}

.location-images__wrapper,
.episode-images__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100px;
	gap: 1rem;
}
