.image-radio,
.text-radio,
.search-radio {
	border-radius: var(--border-radius-l);
	background-color: var(--card-background, var(--content-background));

	&[data-selected] {
		background-color: var(--card-background-highlight);
		font-weight: var(--font-weight-7);
	}
}

.search-radio {
	display: flex;
	align-items: center;
	color: var(--text-color);
	forced-color-adjust: none;
	padding: var(--padding-s);
	background-color: var(--card-background);
	color: var(--card-text);
	&[data-selected] {
		background-color: var(--card-background-highlight);
		color: var(--card-text-hightlight);
	}
}

.image-radio {
	padding: 0;
	font-weight: var(--font-weight-1);
	overflow: clip;
}

.image-radio__image {
	width: 100%;
	aspect-ratio: 1 / 1;
}

.image-radio__name {
	padding: var(--padding-s);
}

.text-radio {
	padding: var(--padding-s);
	font-weight: var(--font-weight-1);
}

.radio-group {
	display: grid;
	width: 100%;
}

.label-section {
	display: flex;
	align-items: center;
	gap: var(--default-gap);
	font-weight: var(--font-weight-1);
}

.radio-section {
	display: flex;
	gap: var(--default-gap);
	margin-block-start: var(--default-margin);
	overflow-y: auto;
	scrollbar-gutter: stable;
	width: 100%;
	position: relative;
}

.image-radio-section,
.text-radio-section {
	display: grid;
	grid-auto-flow: column;
	gap: var(--default-gap);
	overflow-y: auto;
	scrollbar-gutter: stable;
	width: 100%;
	position: relative;
	padding-inline-start: var(--padding-s);
	padding-block-start: var(--padding-s);
}

.image-radio-section {
	grid-auto-columns: var(--image-size-m);
}

.episode-images,
.location-images {
	overflow-y: auto;
}

.location-images__wrapper,
.episode-images__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: var(--image-size-s);
	gap: var(--default-gap);
}
