.search-client {
	display: grid;
}

.heading {
	display: flex;
	justify-content: center;
	color: var(--heading-color);
}

.search-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin-inline: auto;
	min-width: var(--min-width-s);
}
