.search-input {
	margin-inline-start: var(--margin-s);
	padding-inline-start: var(--padding-s);
	outline-color: var(--theme-accent-color);
}

.search-inputs__label {
	font-weight: var(--font-weight-1);
}
