.search-results {
	display: grid;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	margin-inline: auto;
	margin-block-start: 1rem;
	width: var(---max-width-s);
}

.search-results__section {
	display: grid;
	gap: 1rem;
	/* width: var(--half-width-s, calc(var(--max-width-s) / 2)); */
	border: 1px solid var(--section-border-color, var(--border-color));
	border-radius: var(--border-radius-l);
	background-color: var(--section-bg-color, var(--content-background));
	scrollbar-color: var(--border-color) var(--scrollbar-background);
}

.search-results__filters {
	--section-border-color: yellow;
}

.search-results__info {
	--section-border-color: greenyellow;
}

.search-results__list {
	--section-border-color: transparent;
	--section-bg-color: var(--red-12);
	--scrollbar-background: var(--red-10);
	--card-background: var(--red-11);
	--card-background-highlight: var(--red-7);
	--card-text: var(--red-1);
	--card-text-hightlight: var(--red-5);
	--card-outline-highlight: var(--red-5);
}

.search-results__images {
	--section-border-color: transparent;
	--section-bg-color: var(--blue-12);
}

.search-results__details {
	--section-border-color: transparent;
	--section-bg-color: var(--orange-12);
}

.section-wrapper {
	margin-block-start: 1em;
	margin-inline: 1em;
	display: grid;
	gap: 1rem;
}
